/* body { 
    font-family: 'Source Sans Pro', Arial, sans-serif; 
    background: #becccc; 
    text-transform: uppercase; 
    color: #fff; 
    text-align: center; 
    letter-spacing: -3px; 
    padding:50px;
  } */
  
  
.animation-3d{
    /* font-size: inherit; */
    position:relative;
    /* font-weight: 500; */
    cursor: pointer;
    font-family: inherit;
    /* color: inherit; */
  }

.animation-hover{
    /* font-size: inherit; */
    position:relative;
    /* font-weight: 500; */
    cursor: pointer;
    font-family: inherit;
    /* color: inherit; */
    /* text-align: center; */
  }
  
  /*
  text-shadow forked from: https://codepen.io/teetteet/details/dFICw#forkline
  */
  .superShadow {
    text-shadow:    0 1px 0 hsl(174,5%,80%),
                    0 2px 0 hsl(174,5%,75%),
                    0 3px 0 hsl(174,5%,70%),
                    0 4px 0 hsl(174,5%,66%),
                    0 5px 0 hsl(174,5%,64%),
                    0 6px 0 hsl(174,5%,62%),
    
                    0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 7px rgba(0,0,0,.2),
                    0 7px 8px rgba(0,0,0,.2),
                    0 8px 8px rgba(0,0,0,.3);
  }
  .hover-animation {
    text-shadow:    0 1px 0 hsl(174,5%,80%),
                    0 2px 0 hsl(174,5%,75%),
                    0 3px 0 hsl(174,5%,70%),
                    0 4px 0 hsl(174,5%,66%),
                    0 5px 0 hsl(174,5%,64%),
                    0 6px 0 hsl(174,5%,62%),
    
                    /* 0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 7px rgba(0,0,0,.2),
                    0 7px 8px rgba(0,0,0,.2),
                    0 8px 8px rgba(0,0,0,.3); */
  }
  
  /* strong{
    font-size:200px;
  } */